.mainStyle{
    background-color:cornsilk;
    position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center; 
}
.click:hover{
   color: chocolate;
   font-variant: small-caps;
  
}